*{
  margin: 0;
  padding: 0;
  cursor: default;
}
html{
  font-size: 18px;
}
a{
  text-decoration: none;
  color: inherit;
}

body{
  width: 100vw;
  background: url("https://images.unsplash.com/photo-1693560355258-1af2a69a9ccd?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=M3w1MTkwOTd8MHwxfHJhbmRvbXx8fHx8fHx8fDE2OTg1MzU4OTB8&ixlib=rb-4.0.3&q=80&w=1080");
  background-size: 100vw;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  overflow: auto;

}
header{
  display: flex;
  justify-content: space-around;
  border-bottom: 2px solid #f86d03e1;
  padding-top: 3vw;
  color: #FFF6F4;
  background-color: #18171dab;
  box-shadow: 0px 3px 130px -22px rgba(245,245,245,0.65);
  -webkit-box-shadow: 0px 3px 130px -22px rgba(245,245,245,0.65);
  -moz-box-shadow: 0px 3px 130px -22px rgba(245,245,245,0.65);
}
header h1{
  font-size: 1.3rem;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
header ul{
  display: flex;
  flex-direction: row;
  list-style: none;
  width: 400px;
  justify-content: space-around;
}
header li{
  padding: 5px;
  font-size: 1rem;
}

#image-track {
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.684);
  display: flex;
  border-radius: 20px;
  gap: 4vmin;
  width: 70vw;
  padding: 30px;
  margin: 150px auto 0;
  opacity: 1;
  transition: 1s;
}

#image-track img{
  width: 40vmin;
  height: 46vmin;
  object-position: 100% center;
}
#image-track img:hover{
  transform: scale(110%, 110%);
  border: 2px solid white;
}

#quotes{
  display: hidden;
  cursor: default;
  width: 60vw;
  min-height: 20vh;
  text-align: center;
  align-items: center;
  border-top: 2px solid rgb(11, 10, 10);
  border-bottom: 2px solid gray;
  border-radius: 20px;
  position: relative;
  left: calc(50vw - 60vw /2);
  top: 30vh;
  opacity: 1;
  transition: 1s;
  z-index: -99;
  background-color: #18171dab;
  color: #B9B4C7;
  font-size: 1rem;
  transition: 1s;
}

#quotes .content{
  padding: 30px;
}

.close{
  display: none;
  background-color: #18171dd2;
  position: absolute;
  width: 100%;
  bottom: 0px;
  font-size: 1.2rem;
}
.close:hover{
  background-color: rgba(255, 0, 0, 0.622);
}
@media (max-width: 600px){
  html{
    font-size: 15px;
  }
  .close{
    display: block;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }
}